decorator==5.1.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
moviepy==2.1.1
mss==10.0.0
numpy==2.2.1
opencv-python==4.10.0.84
pillow==10.4.0
proglog==0.1.10
pynput==1.7.7
pyobjc-core==10.3.2
pyobjc-framework-ApplicationServices==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-CoreText==10.3.2
pyobjc-framework-Quartz==10.3.2
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
python-dotenv==1.0.1
setuptools==75.6.0
six==1.17.0
tqdm==4.67.1
